.progress-bar > .track{
    -fx-background-color: transparent;
}

.progress-bar > .bar,
.progress-bar:indeterminate > .bar{
    -fx-background-color: #42A5F5;
    -fx-padding: 1.5;
}

.progress-bar > .track,
.progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}
