.selectable-bookmark:hover {
    -fx-background-color: rgba(21, 101, 192, .2);
}

.drag-separator .line {
    -fx-border-color: rgba(21, 101, 192, .2);;
}

.drag-box {
    -fx-background-color: rgba(46, 125, 50, .2);
}
