.text-field:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color:transparent;
}

.text-field {
    -fx-border-color: transparent;
    -fx-text-box-border: transparent;
}

.round {
    -fx-border-width: 0.5;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: #C0C0C0;
}